.motivational-main-container {
  width: 100%;
  height: auto;
  padding: 2.5rem 0;
  background-image: url(../../assets/images/motivational-images/motivational-banner.webp);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.motivational-inner-container {
  width: 82%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.motivational-image-div1 {
  width: 50%;
}

.motivational-image-div2 {
  width: 50%;
  text-align: end;
}

.motivational-image-div1 img,
.motivational-image-div2 img {
  width: 100%;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.second-wrapper {
  margin-top: 25%;
}

.hover-message-static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000aa;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 16px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* ------------------ Responsive Style ------------------ */

@media (max-width: 1440px) {
  .motivational-inner-container {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  .motivational-image-div1 img,
  .motivational-image-div2 img {
    width: 80%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 568px) {
  .motivational-main-container {
    background-image: none;
    background-color: rgb(58, 58, 58);
  }

  .motivational-inner-container {
    flex-wrap: wrap;
  }

  .motivational-image-div1,
  .motivational-image-div2 {
    width: 100%;
  }

  .motivational-image-div1 img,
  .motivational-image-div2 img {
    width: 100%;
  }

  .second-wrapper {
    margin-top: 0;
  }
}
