.motivational-main-container {
  width: 100%;
  text-align: center;
}

.motivational-main-container img {
  width: 100%;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 968px) {
  .motivational-main-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
}
