.knowledge-main-container {
  width: 80%;
  margin-left: 20%;
  background: #e5f4fb;
  padding: 4rem 0;
}

.knowledge-inner-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #425d92;
  border-radius: 0 0 30px 30px;
}

.knowledge-phone-wrapper1 {
  width: 25%;
  height: 500px;
}

.knowledge-phone-wrapper2 {
  display: none;
}

.knowledge-phone-wrapper1 img {
  width: 100%;
  height: 100%;
}

/* .knowledge-hero-wrapper {
  width: 70%;
  background-image: url(../../assets/images/no1-person.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
} */

.knowledge-hero-wrapper {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.knowledge-hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/no1-person.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
}

.knowledge-para {
  width: 70%;
  color: #333333;
}

.knowledge-para p {
  font-size: 20px;
}

.knowledge-para span {
  font-size: 24px;
  color: #425d92;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .knowledge-inner-div {
    width: 90%;
  }

  .knowledge-para {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .knowledge-phone-wrapper1 {
    width: 30%;
  }

  .knowledge-hero-wrapper {
    width: 65%;
  }
}

@media (max-width: 968px) {
  .knowledge-main-container {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .knowledge-inner-div {
    flex-wrap: wrap;
  }

  /* .knowledge-phone-wrapper1 {
    display: none;
  } */

  .knowledge-phone-wrapper1 {
    /* display: block; */
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .knowledge-phone-wrapper1 img {
    width: 100%;
    height: 100%;
  }

  .knowledge-hero-wrapper {
    width: 100%;
  }

  .knowledge-hero-wrapper::before {
    width: 100%;
    background-image: none;
  }

  .knowledge-para {
    width: 100%;
  }

  .knowledge-para p {
    font-size: 18px;
  }
}

@media (max-width: 568px) {
  .about-main-container h1 {
    font-size: 1rem;
    padding: 0 10px;
  }

  .about-para p {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
