.blog-page-section {
  width: 80%;
  margin: 2rem auto;
}

.blog-page-section img {
  width: 100%;
  margin-bottom: 3rem;
}

.blogs-btn {
  color: #333333;
  text-decoration: none;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.blogs-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.blog-page-section h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 40px;
  padding: 3rem 0 2rem 0;
}

.blog-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.recommended-blog {
  width: 100%;
  background-color: rgb(240, 236, 229);
  padding: 4.5rem 0;
}

.recommended-blog h6 {
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 1rem 0;
}

.recommended-blog h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.recommended-blog-cards {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.recommended-blog-cards::-webkit-scrollbar {
  display: none;
}

.recommended-blog-card {
  flex: 0 0 calc(34% - 20px);
  scroll-snap-align: start;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.recommended-blog-card a {
  text-decoration: none;
  color: inherit;
}

.recommended-blog-card img {
  width: 100%;
}

.recommended-blog-card h6 {
  text-align: start;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 0;
}

.recommended-blog-card h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

.recommended-blog-card h6:hover,
.recommended-blog-card h3:hover {
  text-decoration: underline;
}

.recommended-blog hr {
  margin: 2.5rem 0;
}

.recommended-blog-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.recommended-blog-buttons p {
  font-size: 20px;
}

.recommended-blog-buttons p:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1024px) {
  .blog-page-section h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .blog-page-section,
  .recommended-blog-cards,
  .recommended-blog-buttons {
    width: 90%;
  }

  .recommended-blog h1 {
    font-size: 2rem;
  }

  .recommended-blog-card h3 {
    font-size: 1.25rem;
    font-weight: 100;
  }

  .recommended-blog-card {
    flex: 0 0 calc(48% - 20px);
  }
}

@media (max-width: 580px) {
  .blog-page-section,
  .recommended-blog-cards,
  .recommended-blog-buttons {
    width: 95%;
  }

  .blog-page-section img {
    margin-bottom: 2rem;
  }

  .blog-page-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 40px;
    padding: 2rem 0;
  }

  .blog-page-section h1,
  .recommended-blog h1 {
    font-size: 1.5rem;
    line-height: 32px;
  }

  .blog-content p {
    font-size: 16px;
  }

  .recommended-blog-card {
    flex: 0 0 calc(90% - 20px);
  }
}
