.about-main-container {
  width: 80%;
  margin-left: 20%;
  padding: 4rem 0;
  background-color: #e5f4fb;
}

.about-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: #131a2e;
  text-transform: uppercase;
}

.about-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.about-image {
  width: 50%;
  text-align: center;
}

.about-image img {
  width: 90%;
}

.about-para {
  width: 50%;
  padding-top: 1rem;
}

/* .about-para a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  background-color: #00c0ff;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
}

.about-para a:hover {
  background-color: #2e4392;
  color: white;
} */

.about-glow-on-hover {
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  color: #000000;
  background: #00c0ff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
}

.about-glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: about-glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

.about-glow-on-hover:active {
  color: #00c0ff;
}

.about-glow-on-hover:active:after {
  background: transparent;
}

.about-glow-on-hover:hover:before {
  opacity: 1;
}

.about-glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00c0ff;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes about-glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.about-para p {
  padding-top: 2rem;
  font-size: 18px;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .about-content {
    width: 100%;
  }

  .about-para {
    padding: 1rem 1.5rem 0 0;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 968px) {
  .about-main-container {
    margin-left: 0;
    width: 100%;
    padding: 2.5rem 0 2rem 0;
  }
}

@media (max-width: 768px) {
  .about-main-container h1 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .about-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .about-image {
    width: 100%;
  }

  .about-para {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 568px) {
  .about-main-container h1 {
    font-size: 1rem;
    padding: 0 10px;
  }

  .about-para p {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
