.vjc-main-container {
  width: 80%;
  margin-left: 20%;
  background-color: #e5f4fb;
}

.vjc-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.vjc-inner-container {
  width: 80%;
  margin: 0 auto;
}

.vjc-subtitle {
  width: 500px;
  margin: 24px auto;
  font-size: 24px;
  color: #333333;
  background-color: #00c0ff;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
}

.vjc-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.vjc-content {
  width: 49%;
  padding: 16px 0;
}

.vjc-text {
  font-size: 20px;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.vjc-glow-on-hover {
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  color: #333333;
  background: #00c0ff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
}

.vjc-glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: vjc-glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

.vjc-glow-on-hover:active {
  color: #00c0ff;
}

.vjc-glow-on-hover:active:after {
  background: transparent;
}

.vjc-glow-on-hover:hover:before {
  opacity: 1;
}

.vjc-glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00c0ff;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes vjc-glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.vjc-images-swiper {
  width: 49%;
  position: relative;
}

.vjc-swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 350px !important;
  border-radius: 15px;
  overflow: hidden;
}

.vjc-swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.vjc-swiper-slide-active img {
  filter: grayscale(0%);
}

.vjc-address {
  display: flex;
  justify-content: space-between;
  border: 4px solid #425d92;
  border-radius: 15px;
  padding: 10px;
  margin-top: 16px;
}

.vjc-address-text {
  width: 25%;
}

.vjc-address-text h4 {
  font-size: 1.5rem;
  padding-bottom: 8px;
  color: #333333;
}

.vjc-address-text p {
  font-size: 18px;
  color: #333333;
  line-height: 1.6;
}

.vjc-address-map {
  width: 70%;
  height: 250px;
}

.vjc-address-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .vjc-inner-container {
    width: 90%;
  }
}

@media (max-width: 968px) {
  .vjc-main-container {
    width: 100%;
    margin-left: 0%;
    padding: 4rem 2.5%;
  }

  .vjc-card {
    flex-wrap: wrap-reverse;
  }

  .vjc-content {
    width: 100%;
    margin-top: 1rem;
  }

  .vjc-images-swiper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .vjc-main-container {
    padding: 1rem 0 2rem 0;
  }

  .vjc-main-container h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 568px) {
  .vjc-subtitle {
    width: 95%;
    font-size: 20px;
  }

  .vjc-address {
    flex-direction: column;
    gap: 1rem;
  }

  .vjc-address-text,
  .vjc-address-map {
    width: 100%;
  }
}
