.vidya-main-container {
  width: 80%;
  margin-left: 20%;
  padding: 4rem 0 0 0;
  background-color: #e5f4fb;
}

.vidya-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.vidya-main-container h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #333333;
  padding-bottom: 1rem;
}

.vidya-main-image {
  width: 80%;
  margin: 0 auto;
}

.vidya-main-image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.vidya-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
}

.vidya-image {
  width: 50%;
}

.vidya-image img {
  width: 90%;
}

.vidya-para {
  width: 50%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vidya-glow-on-hover {
  font-size: 18px;
  font-weight: 600;
  width: 180px;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  color: #333333;
  background: #00c0ff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
  margin-top: 24px;
}

.vidya-glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: vidya-glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

.vidya-glow-on-hover:active {
  color: #00c0ff;
}

.vidya-glow-on-hover:active:after {
  background: transparent;
}

.vidya-glow-on-hover:hover:before {
  opacity: 1;
}

.vidya-glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00c0ff;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes vidya-glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.vidya-para p {
  padding-top: 2rem;
  font-size: 18px;
  color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .vidya-main-image {
    width: 90%;
  }

  .vidya-content {
    width: 95%;
  }

  .vidya-para {
    padding: 1rem 1.5rem 0 0;
  }
}

@media (max-width: 968px) {
  .vidya-main-container {
    width: 100%;
    margin-left: 0%;
    padding: 0 0 4rem 0;
  }
}

@media (max-width: 768px) {
  .vidya-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .vidya-image {
    width: 100%;
  }

  .vidya-para {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 568px) {
  .vidya-main-container h2 {
    font-size: 1rem;
  }

  .vidya-para p {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
