.education-main-container {
  width: 80%;
  margin-left: 20%;
  height: auto;
  padding-top: 4rem;
  background-color: #ffffff;
}

.education-main-container h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: #333333;
}

.education-card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #425d92;
  border-radius: 15px;
}

.education-content {
  width: 49%;
  padding: 16px;
  color: white;
}

.education-content h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.education-content p {
  font-size: 18px;
  padding-bottom: 1rem;
}

.education-image {
  width: 49%;
  text-align: center;
}

.education-image img {
  width: 100%;
  height: 100%;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .education-card {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .education-main-container h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

@media (max-width: 968px) {
  .education-main-container {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .education-card {
    flex-direction: column-reverse;
  }

  .education-image {
    width: 100%;
  }

  .education-content {
    width: 100%;
  }
}
