/* .education-main-container {
  width: 100%;
}

.education-inner-container {
  width: 80%;
  margin-left: 20%;
  height: auto;
  padding: 2rem 0;
  background-image: url(../../assets/images/education-bg-image2.JPG);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.education-inner-container h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.education-cards {
  width: 50% !important;
  margin: 2rem 0 2rem 2rem;
}

.education-card1 {
  width: 100%;
  background-color: #ececec;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.education-logo1 {
  margin: 0 auto;
  padding-bottom: 1rem;
}

.education-info1 {
  width: 100%;
  color: white;
  background-color: #131a2e;
  padding: 10px;
  border-radius: 10px;
}

.education-info1 p {
  font-size: 18px;
}

.education-card2 {
  background-color: #ececec;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  text-align: center;
}

.education-logo2 {
  margin: 0 auto;
}

.education-info2 {
  width: 100%;
  color: white;
  background-color: #131a2e;
  padding: 10px;
  border-radius: 10px;
}

.education-info2 p {
  font-size: 18px;
} */

/* background-color: #2e4392; */
/* background-color: #00c0ff; */
/* border-radius: 50px 0 0 50px; */

.education-main-container {
  width: 80%;
  margin-left: 20%;
  height: auto;
  padding: 2rem 0;
  background-color: #e5f4fb;
}

.education-main-container h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.education-card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #2e4392;
  /* background-color: #00c0ff; */
  border-radius: 15px;
}

.education-content {
  width: 49%;
  padding: 16px;
  color: white;
  /* color: black; */
}

.education-content h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.education-content p {
  font-size: 18px;
  padding-bottom: 1rem;
}

.education-image {
  width: 49%;
  text-align: center;
}

.education-image img {
  width: 100%;
  height: 100%;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .education-card {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .education-inner-container h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

@media (max-width: 968px) {
  .education-inner-container {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .education-inner-container h1 {
    font-size: 1rem;
  }

  .education-card {
    width: 95% !important;
    margin: 0.5rem;
  }

  .education-info1 p,
  .education-info2 p {
    font-size: 1rem;
  }
}
