.header-container {
  width: 100%;
  display: flex;
}

.header-banner {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.header-banner .slick-slider,
.header-banner .slick-list,
.header-banner .slick-track {
  height: 100vh !important;
  width: 100%;
  object-fit: cover;
}

.header-banner .slick-slide {
  height: 100vh !important;
  width: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.header-banner img {
  height: 100vh !important;
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.header-banner-content {
  position: absolute;
  width: 45%;
  margin-left: 3.5rem;
  color: white;
}

.header-banner-content h1 {
  font-size: 3.5rem;
}

.header-banner-content h4 {
  font-size: 20px;
  padding: 18px 0;
}

.header-banner-content p {
  width: 80%;
  font-size: 18px;
  padding: 1.25rem 0;
  line-height: 24px;
}

.header-typeWriter {
  color: #00c0ff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header-btn {
  color: #333333;
  background: #ffffff;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .header-banner-content {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .header-banner img {
    object-position: right;
  }

  .header-banner-content {
    width: 80%;
  }
}

@media (max-width: 968px) {
  .header-banner {
    width: 100%;
    margin-top: 6rem;
    /* height: 700px; */
  }

  .header-banner-content {
    width: 90%;
    margin-left: 1.5rem;
  }
}

@media (max-width: 600px) {
  .header-banner-content h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .header-banner-content h4 {
    font-size: 1rem;
  }

  .header-banner-content p {
    width: 100%;
    font-size: 1rem;
  }

  .header-typeWriter {
    font-size: 1.5rem;
  }
}
