.educationKM-main-container {
  width: 100%;
  padding-bottom: 2rem;
  background-color: rgb(252, 250, 250);
}

.educationKM-main-container h1 {
  font-size: 2rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.educationKM-content1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #425d92;
  border-radius: 0 0 30px 30px;
}

.educationKM-hero-wrapper1 {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.educationKM-hero-wrapper1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/no1-ec.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.educationKM-image1 {
  width: 50%;
  text-align: end;
}

.educationKM-image1 img {
  width: 90%;
}

.educationKM-para1 {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.educationKM-para1 p {
  padding-top: 2rem;
  font-size: 18px;
  color: #333333;
}

.educationKM-para1 span {
  font-size: 24px;
  color: #425d92;
}

.educationKM-content2 {
  width: 80%;
  margin: 2rem auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #425d92;
  border-radius: 0 0 30px 30px;
}

.educationKM-image2 {
  width: 25%;
}

.educationKM-image2 img {
  width: 100%;
  height: 100%;
}

.educationKM-hero-wrapper2 {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.educationKM-hero-wrapper2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/no1-cba.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
}

.educationKM-para2 {
  width: 70%;
  color: #333333;
}

.educationKM-para2 p {
  font-size: 20px;
}

.educationKM-para2 span {
  font-size: 24px;
  color: #425d92;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .educationKM-content1 {
    width: 90%;
  }

  .educationKM-content2 {
    width: 90%;
  }

  .educationKM-para1 {
    padding: 1rem 1.5rem 0 0;
  }

  .educationKM-para2 {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .educationKM-image2 {
    width: 30%;
  }

  .educationKM-hero-wrapper {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .educationKM-content1 {
    flex-wrap: wrap-reverse;
  }

  .educationKM-image1 {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .educationKM-hero-wrapper1 {
    width: 100%;
  }

  .educationKM-para1 {
    width: 100%;
    padding: 1rem;
  }

  .educationKM-content2 {
    flex-wrap: wrap;
  }

  .educationKM-image2 {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .educationKM-hero-wrapper2 {
    width: 100%;
  }

  .educationKM-para2 {
    width: 100%;
    padding: 1rem;
  }

  .educationKM-hero-wrapper1::before,
  .educationKM-hero-wrapper2::before {
    width: 100%;
    background-image: none;
  }
}

@media (max-width: 568px) {
  .educationKM-image1,
  .educationKM-image2 {
    width: 100%;
  }

  .educationKM-image1 img,
  .educationKM-image2 img {
    width: 100%;
  }

  .educationKM-para1 p {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .educationKM-para2 p {
    font-size: 1rem;
  }

  .educationKM-para1 span,
  .educationKM-para2 span {
    font-size: 20px;
  }
}
