.specialities-main-container {
  width: 100%;
  padding: 3.5rem 0 2rem 0;
  background-color: rgb(252, 250, 250);
}

.specialities-main-container h1 {
  font-size: 2rem;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.specialities-cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.specialities-subtitle {
  font-size: 1.5rem;
  color: #333333;
  margin: 12px 0 24px 0;
  padding: 1rem;
  font-weight: 100;
  text-align: center;
  border-radius: 10px;
}

.specialities-card {
  width: 31%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out 0.2s;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.specialities-card img {
  width: 75px;
}

.specialities-card h5 {
  color: #333333;
  padding: 12px 24px 0 24px;
  font-size: 18px;
  font-weight: 400;
}

/* ------------------------------------ Responsive Style ------------------------- */

@media (max-width: 1440px) {
  .specialities-cards {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .specialities-main-container h1 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .specialities-subtitle {
    font-size: 20px;
  }

  .specialities-card {
    width: 48%;
  }
}

@media (max-width: 568px) {
  .specialities-card {
    width: 98%;
  }

  .specialities-card h5 {
    font-size: 1rem;
    padding: 1rem;
  }
}
